#drop-area {
    position: relative;
  }
  
  #fileElem {
    display: none;
  }
  
  .upload-label {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
  }
  .upload-label:hover {
    background-color: #e9e9e9;
  }
  
  .upload-label:active {
    background-color: #f6f6f6;
  }
  
  .upload-text {
    color: #666;
    user-select: none;
  }
  
  .image {
    min-width: 100%;
    max-width: 100%;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .image-list{
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    margin-left: 20px;
  }
.dd-input{
  height: 2rem;
  width: 45%;
  margin-left: 350px ;
  /*margin-bottom: 1.5rem; */
  padding: 0.2rem 0.3rem;
  font-size: small;
background-color: #F1F6FF;
  border:1.5px solid #858585;
  border-radius: 11px;
  } 
.ddi-div{
  margin-top: 30px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  
}
