.dd-input{
    margin-top: 12px;
   margin-left: 380px;
    height: 1.8rem;
    width: 35%;
    margin-right: 135px ;
    margin-bottom: 1.5rem; 
    padding: 0.2rem 0.3rem;
    font-size: small;
	background-color: #F1F6FF;
    border:1.5px solid #858585;
    border-radius: 11px;
}
.dd-image{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px
}
.dd-logout{
    padding: 7px 30px;
    border: 1px solid #010080;
    background-color: #010080;
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .dd-input{
        margin-left: 40px;
        width: 75%;
    }
    .dd-image{
        margin-left: -1px;
        flex-direction: column;
    }
    .dd-logout{
        margin-left: 10px;
        padding: 7px 20px;
        margin-bottom: 10px;
    }
}