.dd-input{
    margin-top: 12px;
   margin-left: 440px;
    height: 2rem;
    width: 35%;
    margin-right: 135px ;
    margin-bottom: 1.5rem; 
    padding: 0.2rem 0.3rem;
    font-size: small;
	background-color: #F1F6FF;
    border:1.5px solid #858585;
    border-radius: 11px;
}
.dd-image{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px
}
@media screen and (max-width: 768px) {
    .dd-input{
        margin-left: 40px;
        width: 75%;
    }
    .dd-image{
        margin-left: -1px;
        flex-direction: column;
    }
}